.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.search {
  border: 1px solid black;
  border-radius: 20px;
  height: 30px;
  margin-top: 20px;
  padding-left: 15px;
  width: 80%;
}

.search-text {
  color: rgb(75, 75, 75);
  font-weight: 700;
}
